@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black antialiased overflow-x-hidden;
  }
}

/* Smooth "Naheed" retail shadows */
.retail-shadow {
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Typing Animation for Search */
@keyframes blink {
  50% { border-color: transparent; }
}
.typing-cursor::after {
  content: '|';
  animation: blink 0.7s infinite;
}
