@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-luxury-black text-white antialiased;
  }
}

/* Custom Gold Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}
